.WhyChooseHover:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); /* Light shadow */
    background: linear-gradient(120deg, #FFECE6, #FFF9E7, #E0F7FA); /* Smooth gradient */
    transition: all 0.3s ease-in-out; /* Smooth hover effect */
    border-radius: 10px;
}

.align{
    text-align: justify;
}


/* Timeline Container */
#timeline-container {
    padding: 20px 0;
  }
  
  #timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Vertical Line */
  #timeline::after {
    content: "";
    position: absolute;
    width: 6px;
    background: linear-gradient(120deg, #95b9ea, #f6e4ab, #e9bc8e);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
  }
  
  /* Timeline Items */
  .timeline-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  .timeline-container::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -13px;
      background: linear-gradient(110deg, #E0F7FA, #f5e6b8, #f8d5ca);
    border: 3px solid #ffc355; /* Circle color */
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  .left {
    left: 0;
  }
  
  .right {
    left: 50%;
  }
  
  /* Arrow for Left Containers */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 19px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #b4d2ffbf;
  }
  
  /* Arrow for Right Containers */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 18px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #b4d2ffbf transparent transparent;
  }
  
  /* Adjust Circle Position for Right */
  .right::after {
    left: -12px;
  }
  
  /* Timeline Content */
  #timeline-content {
    background-color: white;
    padding: 20px 30px;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  #step-title {
    /* color: #0b5dd7ee; */
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 10px;
  }
  
  #timeline-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #444444e5;

  }
  
  #timeline-description {
    font-size: 14px;
    color: #555;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 600px) {
    #timeline::after {
      left: 31px;
    }
  
    .timeline-container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
    .timeline-container::before {
      left: 60px;
      border-width: 10px 10px 10px 0;
      border-color: transparent #b4d2ffbf transparent transparent;
    }
  
    .left,
    .right {
      left: 0;
    }
  
    .left::after,
    .right::after {
      left: 18px;
    }
  }
 
  